@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

.navbar-custom {
    background-color: #101935; /* Navbar background color */
    color: #f2fdff; /* Navbar text color */
    display: flex; /* Enable flexbox for the navbar */
    align-items: center; /* Align items vertically */
    justify-content: center; /* Align items horizontally */
    margin-bottom: 30px;
}

.navbar-custom .navbar-nav {
    display: flex; /* Ensure flexbox is applied */
    justify-content: space-between; /* Spread out the items evenly */
    width: 100%; /* Make sure the items take the full width */
    max-width: 800px; /* Optional: Set a max-width to control how far apart items are spread */
}

.navbar-custom .nav-link {
    color: #9ad4d6;
    line-height: normal;
    font-size: 1.5rem; /* Increase this value for larger text */
    padding: 10px 20px; /* Adjust padding to control the size of the clickable area */
}

.textbox {
    background-color: #f0f8ff; /* Light blue background color */
    padding: 20px; /* Padding around the text */
    margin-top: 20px; /* Margin from other elements */
    border: 1px solid #cccccc; /* Light border */
    border-radius: 5px; /* Rounded corners */
    color: #333; /* Text color */
    font-size: 1.2rem; /* Text size */
    width: auto; /* Ensure the box adapts to its content */
    display: inline-block; /* Allows the box to only be as wide as its content */
}