@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

.navbar-custom {
    background-color: #101935; /* Navbar background color */
    color: #f2fdff; /* Navbar text color */
    display: flex; /* Enable flexbox for the navbar */
    align-items: center; /* Align items vertically */
    justify-content: center; /* Align items horizontally */
}

.navbar-custom .nav-link {
    color: #9ad4d6;
}