<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}Newthy{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('weekly') }}">Weekly</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('daily') }}">Daily</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('past') }}">Past</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('monthly') }}">Monthly</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container center">
        {% block main %}
        <!-- Main content will be injected here -->
        <h1>Article Summaries</h1>
        <ul class="list-group">
            {% for title, summary in summaries %}
                <li class="list-group-item">
                    <h2>{{ title }}</h2>
                    <p>{{ summary }}</p>
                </li>
            {% endfor %}
        </ul>
        {% endblock %}
        
        <!-- Textbox for other templates to insert content -->
        <div class="center-container">
            <div class="textbox">
                {% block textbox %}
                <!-- Text content will be injected here -->
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
